{% load static %}

<link rel="stylesheet" href="{% static '/styles/style.css' %}">
<footer class="rodape">
    <div class="rodape__icones">
        <a href="https://www.instagram.com/_brunodgk/" target="_blank">
            <img src="{% static '/assets/ícones/1x/linkedin.png' %}" alt="ícone linkedin">
        </a>
        <a href="https://www.instagram.com/_brunodgk/" target=”_blank” >
            <img src="{% static '/assets/ícones/1x/instagram.png' %}" alt="ícone instagram">
        </a>
    </div>
    <p class="rodape__texto">Desenvolvido por Bruno Cortez</p>
</footer>